@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    background-color: rgb(132, 220, 223);
    color: #FFFFFF;
}

#home {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
}

.bel img {
    margin-top: 50px;
    width: 220px;
    border-radius: 5%;
}

.escolha {
    font-size: 2rem;
}

.interrogacao img {
    margin-top: 20px;
    margin-left: 23px;
    width: 150px;
    border-radius: 5%;
}
